.toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    animation: fade 2.0s ease;
    z-index: 999;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    30%,
    80% {
        opacity: 1;
    }
}